body {
    background: url('./kitten-background.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0;
    padding: 0;
}

.home-page {
    text-align: center;
    padding: 50px 20px;
    color: #fff;
    position: relative;
}

.home-title {
    font-size: 60px;
    margin-bottom: 20px;
    color: #ffcc00; /* Bright yellow */
    text-shadow: 2px 2px 5px #ff6600;
}

.home-description {
    font-size: 24px;
    margin-bottom: 40px;
    color: #ffccff; /* Soft pink */
    text-shadow: 1px 1px 3px #660066;
}

.btn {
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 24px;
    background-color: #ff6600;
    color: white;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background-color: #ffcc00;
}

.start-game-btn {
    margin-top: 20px;
    background-color: #ff66b2; /* Bright pink */
}
